@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema Hospitalar</h1>
    <img src="~/img/hospital.png" width="200" height="200"/>

<div class="row mt-5">

    <div class="col-5">
    <a class="btn btn-light" asp-action="Create" asp-controller="Medicos">
        <img  width="30" height="30" src="~/img/mais.png">
        Médico
    </a>
    </div>

    <div class="col-3">
    <a class="btn btn-light" asp-action="Create" asp-controller="Medicos">
        <img  width="30" height="30" src="~/img/mais.png">
        Médico
    </a>
    </div>

    <div class="col-3">
    <a class="btn btn-light" asp-action="Create" asp-controller="Medicos">
        <img  width="30" height="30" src="~/img/mais.png">
        Médico
    </a>
    </div>
</div>
</div>