@using SistemaHospitalar.Domain.Enum
@model SistemaHospitalar.Domain.DTO.PacienteDTO

@{
    ViewData["Title"] = "Editar";
}

<div class="text-center title-page">
    <h1 class="display-1"><strong>Editar Paciente</strong></h1>
</div>                      


<p>
    <a onclick="editPessoa(`../../Pessoas/Edit/@Model.pessoaId`)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formModal">Editar Dados Pessoais</a>
</p>

<form asp-controller="Pacientes" asp-action="Edit" method="post">
 <div class="container">
    <div class="row justify-content-center">
    <div class="col-3">
        <div class="form-group text-dark">

        <input type="hidden" asp-for="pessoaId" class="form-control" asp-items="ViewBag.pessoaId">

    </div>
        <label asp-for="convenioId" for="convenioId" class="color-label">Nome do Convênio</label>
        <select asp-for="convenioId" class="form-control" asp-items="ViewBag.convenioId"></select>
        <span asp-validation-for="convenioId" class="text-danger"></span>  

       <div class="form-group mt-2 ">
            <label asp-for="situacao" class="control-label login-title"></label>
            <select asp-for="situacao" class="form-control">
                <option value="0">Selecione</option>
                <option value="@SituacaoEnum.Obito">Óbito</option>
                <option value="@SituacaoEnum.Alta">Alta</option>
                <option value="@SituacaoEnum.Ativo">Ativo</option>
            </select>
            <span asp-validation-for="situacao" class="text-danger"></span>
        </div>


    </div>
            <div class="form-group mt-3">
                <input type="submit" value="Editar" class="btn btn-primary btn-block w-100" />
            </div>
         </div>

    </div>
 </div> 

</form>

<div>
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
              
    }



