@using SistemaHospitalar.Domain.Entities
@model SistemaHospitalar.Domain.DTO.EnderecoDTO


@*<form asp-controller="Enderecos" asp-action="Create" method="post">
 <div class="container">
    <div class="row justify-content-center">
    <div class="col-3">
        <div class="form-group text-dark">*@
<label asp-for="cep" for="cep" class="color-label">CEP:</label>
<input asp-for="cep" type="text" class="form-control" id="cep"  aria-describedby="emailHelp" placeholder="Informe o CEP">
<span asp-validation-for="cep" class="text-danger"></span>  

<label asp-for="rua" for="rua" class="color-label">Rua: </label>
<input asp-for="rua" type="text" class="form-control" id="rua"  aria-describedby="emailHelp" placeholder="Informe a rua">
<span asp-validation-for="rua" class="text-danger"></span>  

<label asp-for="numero" for="numero" class="color-label">Número</label>
<input asp-for="numero" type="text" class="form-control" id="numero"  aria-describedby="emailHelp" placeholder="Informe o número">
<span asp-validation-for="numero" class="text-danger"></span>  

<label asp-for="bairro" for="bairro" class="color-label">Bairro</label>
<input asp-for="bairro" type="text" class="form-control" id="bairro"  aria-describedby="emailHelp" placeholder="Informe o bairro">
<span asp-validation-for="bairro" class="text-danger"></span>  

<label asp-for="cidade" for="cidade" class="color-label">Cidade</label>
<input asp-for="cidade" type="text" class="form-control" id="cidade"  aria-describedby="emailHelp" placeholder="Informe a cidade">
<span asp-validation-for="cidade" class="text-danger"></span> 

<label asp-for="uf" for="uf" class="color-label">UF:</label>
<input asp-for="uf" type="text" class="form-control" id="uf"  aria-describedby="emailHelp" placeholder="Informe o UF">
<span asp-validation-for="uf" class="text-danger"></span>  
@*
<div class="form-group mt-3">
                <input type="submit" value="Cadastrar" class="btn btn-primary btn-block w-100" />
            </div>

      </div>

    </div>
 </div> 

</form>*@

    <a class="btn btn-danger" href="#" onclick="createEnderecoPost()">Salvar</a>

 

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}

  

