@model SistemaHospitalar.Domain.DTO.RecepcionistaDTO

@{
    ViewData["Title"] = "Criar";
}

<div class="text-center title-page">
    <h1 class="display-1"><strong>Adicionar Recepcionista</strong></h1>
</div>                      



<form asp-controller="Recepcionistas" asp-action="Create" method="post">
 <div class="container">
    <div class="row justify-content-center">
    <div class="col-3">
        <div class="form-group text-dark">
         <label asp-for="bloco" for="bloco" class="color-label">Bloco</label>
        <input asp-for="bloco" type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Informe o Bloco">
        <span asp-validation-for="bloco" class="text-danger"></span>  
    </div>
            <div class="form-group mt-3">
                <input type="submit" value="Cadastrar" class="btn btn-primary btn-block w-100" />
            </div>
         </div>
    
    </div>
 </div> 
                                   
</form>


<p>
    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formModal">Add Endereço</a>
</p>

<div>
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

        <script>
            $(document).ready(()=>{
                $.ajax({
                url: '../Enderecos/Create',
                dataType: 'html',
                success: (resp) =>{
                    $('#modal-body').html(resp);
                        if(resp.code == '200') {
                                        liveToastMessage(`O Registro ${idParam} foi adicionado.`, 'Endereço');
                                        setTimeout(()=>{window.location.reload();},4000);
                                    }
                    }
                });

            });


            const createEndereco = () =>{
                console.log("oi");
                    var endereco = {
                    cep: $('#cep').val(),
                    rua: $('#rua').val(),
                    numero: $('#numero').val(),
                    bairro: $('#bairro').val(),
                    cidade: $('#cidade').val(),
                    uf: $('#uf').val()
                };

                console.log(endereco);

                $.ajax({
                        url: `../Enderecos/Create`,
                        method: 'POST',
                        data: {
                            endereco: endereco
                        },
                        success: (resp) => {
                            if(resp.code == '200') {
                                $('#formModal').modal('hide');
                                liveToastMessage(`O Endereço foi adicionado.`, 'Endereco');
                                setTimeout(()=>{window.location.reload();},4000);
                            }
                        }
                    });


            };
        </script>
}



