@model SistemaHospitalar.Domain.DTO.RecepcionistaDTO

@{
    ViewData["Title"] = "Editar";
}

<div class="text-center title-page">
    <h1 class="display-1"><strong>Editar Convenio</strong></h1>
    <p class="display-6"></p>
</div>                      

<p>
    <a onclick="editPessoa(`../../Pessoas/Edit/@Model.pessoaId`)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formModal">Editar Dados Pessoais</a>
</p>


<form asp-controller="Recepcionistas" asp-action="Edit" method="post">
 <div class="container">
    <div class="row justify-content-center">
    <div class="col-3">
        <div class="form-group">

        <input type="hidden" asp-for="id" for="id" class="form-control" aria-describedby="emailHelp">
        <input type="hidden" asp-for="pessoaId" class="form-control" asp-items="ViewBag.pessoaId">


         <label asp-for="bloco" for="bloco" class="color-label">Bloco:</label>
        <input asp-for="bloco" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Informe o bloco">
        <span asp-validation-for="bloco" class="text-danger"></span>    
    </div>
        <div class="buttons-edit-create form-group">
            <input type="submit" class="btn btn-warning w-100 btn-block" id="button-editar" value="Editar">
         </div> 
</div>

    </div>
 </div>
</form>


<div>
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}






