@using SistemaHospitalar.Domain.Entities
@using SistemaHospitalar.Domain.Enum
@model SistemaHospitalar.Domain.DTO.MedicoDTO

@{
    ViewData["Title"] = "Editar";
}

<div class="text-center title-page">
    <h1 class="display-1"><strong>Editar Médico</strong></h1>
</div>                      


<p>
    <a onclick="editPessoa(`../../Pessoas/Edit/@Model.pessoaId`)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formModal">Editar Dados Pessoais</a>
</p>


<form asp-controller="Medicos" asp-action="Edit" method="post">
 <div class="container">
    <div class="row justify-content-center">
    <div class="col-3">
        <div class="form-group text-dark">

        <input type="hidden" asp-for="id" class="form-control">
        <input type="hidden" asp-for="pessoaId" class="form-control" asp-items="ViewBag.pessoaId">
 
    </div>
        <label asp-for="especialidade" for="especialidadeId" class="color-label">Especialidade Médica</label>
        <select asp-for="especialidadeId" class="form-control" asp-items="ViewBag.especialidadeId"></select>
        <span asp-validation-for="especialidadeId" class="text-danger"></span>  

        <label asp-for="crm" for="crm" class="color-label">CRM</label>
        <input asp-for="crm" class="form-control">
        <span asp-validation-for="crm" class="text-danger"></span>  

    </div>
            <div class="form-group mt-3">
                <input type="submit" value="Editar" class="btn btn-primary btn-block w-100" />
            </div>
         </div>

    </div>
 </div> 

</form>

<div>
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }

            <script>
                    
            </script>
    }



