@using SistemaHospitalar.Domain.Entities
@using SistemaHospitalar.Domain.Enum
@model SistemaHospitalar.Domain.DTO.PacienteDTO

@{
    ViewData["Title"] = "Editar";
}

<div class="text-center title-page">
    <h1 class="display-1"><strong>Editar Paciente</strong></h1>
</div>                      

<div class="form-group mt-3">
    <input type="submit" id="btn-pessoa-edit" value="Editar Dados Pessoais" class="btn btn-primary" />
</div>


<form asp-controller="Pacientes" asp-action="Edit" method="post">
 <div class="container">
    <div class="row justify-content-center">
    <div class="col-3">
        <div class="form-group text-dark">

    <div class="d-none">
        <label  asp-for="pessoaId" for="convenioId" class="color-label">Nome da Pessoa</label>
        <select  asp-for="pessoaId" class="form-control" asp-items="ViewBag.pessoaId"></select>
        <span asp-validation-for="pessoaId" class="text-danger"></span>  
    </div>
        <label asp-for="convenioId" for="convenioId" class="color-label">Nome do Convênio</label>
        <select asp-for="convenioId" class="form-control" asp-items="ViewBag.convenioId"></select>
        <span asp-validation-for="convenioId" class="text-danger"></span>  

       <div class="form-group mt-2 ">
            <label asp-for="situacao" class="control-label login-title"></label>
            <select asp-for="situacao" class="form-control">
                <option value="0">Selecione</option>
                <option value="@SituacaoEnum.Obito">Óbito</option>
                <option value="@SituacaoEnum.Alta">Alta</option>
                <option value="@SituacaoEnum.Ativo">Ativo</option>
            </select>
            <span asp-validation-for="situacao" class="text-danger"></span>
        </div>


    </div>
            <div class="form-group mt-3">
                <input type="submit" value="Editar" class="btn btn-primary btn-block w-100" />
            </div>
         </div>

    </div>
 </div> 

</form>

<div>
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }

            <script>
                    const editPessoa = (idPessoa) => {
                            $.ajax({
                                url: `../../Pessoas/Edit/${idPessoa}`,
                                dataType: 'html',
                                success: (response) =>{
                                    $('#modal-body').html(response)
                                }
                            });
                    }

                        const editControllerPessoa = (idPessoa) =>{
                            console.log(idPessoa);
                            var pessoa = {
                                id: $('#idEdit').val(),
                                nome: $('#nomeEdit').val(),
                                sobrenome: $('#sobrenomeEdit').val(),
                                email: $('#emailEdit').val(),
                                senha: $('#senhaEdit').val(),
                                telefone: $('#telefoneEdit').val(),
                                cpf: $('#cpfEdit').val(),
                                rg: $('#rgEdit').val(),
                                dataNascimento: $('#nascEdit').val(),
                                naturalidade: $('#natEdit').val(),
                                sexo: $('#sexoEdit').val(),
                                perfil: $('#perfilEdit').val(),
                                createdOn: $('#createdEdit').val(),
                            }

                            console.log(pessoa);

                            $.ajax({
                                    url: `../../Pessoas/Edit/${idPessoa}`,
                                    method: 'POST',
                                    data:{
                                        id: idPessoa,
                                        pessoa: pessoa
                                    },
                                    success: (resp) => {
                                        if(resp.code == '200') {
                                            $('#formModal').modal('hide');
                                            liveToastMessage(`Os dados pessoais foram editados.`, 'Dados Pessoais');
                                            setTimeout(()=>{window.location.reload();},4000);
                                        }
                                    }

                            });
                        }
            </script>
    }



